.servicios {
  padding: 60px 0;
  background-color: white;

  h2 {
    text-align: center;
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}

.seccion-descripcion {
  text-align: center;
  color: #666;
  font-style: italic;
  margin-bottom: 40px;
}

.servicio {
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #c5c5c5;
  height: 100%;

  h3 {
    color: #2c3e50;
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    color: #555;
    margin-bottom: 15px;
  }
}

.servicio-img {
  width: 100px;
  margin-bottom: 15px;
}

.caracteristicas {
  list-style: disc;
  text-align: left;
  padding-left: 20px;

  li {
    color: #555;
    margin-bottom: 8px;
  }
}
