// Paleta de Colores
$color-primary: #3498db;
$color-primary-dark: #2980b9; // Hover
$color-secondary: #2c3e50;
$color-secondary-dark: #34495e; // Hover
$color-text-main: #333;
$color-text-light: #555;
$color-text-muted: #666;
$color-text-inverted: #ffff; // Blanco
$color-bg-light: #ffffff;
$color-border: #ddd;
$color-border-dark: #c5c5c5;
$color-footer-text: #bdc3c7;

// Tipografía
$font-family-base: Arial, sans-serif;
