@use '../../utils/variables' as *;

%btn-base {
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  color: white; // Common color
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    animation: pulse 1s infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.btn-custom {
  @extend %btn-base;
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-dark;
    color: white;
  }
}

.btn-plan {
  @extend %btn-base;
  background-color: $color-secondary;
  padding: 10px 25px; // Specific overwrite

  &:hover {
    background-color: $color-secondary-dark;
  }
}
