@use '../../utils/variables' as *;

.precios {
  padding: 60px 0;

  h2 {
    text-align: center;
    font-size: 32px;
    color: $color-secondary;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}

.plan {
  padding: 30px 20px;
  background-color: $color-bg-light;
  border: 2px solid $color-border;
  height: 100%;

  h3 {
    color: $color-secondary;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

.plan-destacado {
  border-color: $color-primary;
  border-width: 3px;
}

.precio {
  font-size: 48px;
  color: $color-primary;
  font-weight: bold;
  margin-bottom: 20px;
}

.periodo {
  font-size: 18px;
  color: $color-text-muted;
}

.plan-caracteristicas {
  list-style: circle;
  text-align: left;
  padding: 0 20px;
  margin-bottom: 25px;

  li {
    color: $color-text-light;
    margin-bottom: 12px;
    padding-left: 10px;
  }
}
